@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title GameTag</h2>
<h3>No gamer left behind. All onboard!</h3>

<br>
<p>GameTag started as a place for people with no gaming possibilities at home and grew to be what it is today. <br>
We are proud of achieving such a welcoming community of gamers and we hope you will even bring your friends with you next time!</p>
