@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title GameTag</h2>
<h3>We're eager to get to know you</h3>

<address>
    Bucuresti<br />
    MegaMall, Soseaua Pantelimon<br />
    <abbr title="Phone">Ph:</abbr>
     075 550 1000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gametag.com">Support@GameTag.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gametag.com">Marketing@GameTag.com</a>
</address>