@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">GameTag</h1>
    <h2 class="lead">GameTag is a reservation-based game club where you can come in order to play the latest games on the best platforms available at with amazing staff and an awesome community.</h2>
    <p class="text-center"><a href="https://www.youtube.com/watch?v=qtZ0hl-unM4" class="btn btn-danger btn-lg">Game on! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>Check out our value packages for prices and details about the duration of you stay.</p>
        <p>@Html.ActionLink("Check out our packs", "Index", "BuyPackages")</p>
    </div>
    <div class="col-md-3">
        <h2>What's next?</h2>
        <p>Pick the game you want to play from out large game library! Also make sure to register your account.</p>
        <p>@Html.ActionLink("Check out our games", "Index", "Games")</p>
    </div>
    <div class="col-md-3">
        <h2>Game chosen</h2>
        <p>Now just pick up you phone and give us a call or email us in order for us to make the reservation.</p>
        <p>@Html.ActionLink("Check out our contact details", "Contact", "Home")</p>
    </div>
    <div class="col-md-3">
        <h2>All done?</h2>
        <p>You can now check your reservation (if you are logged in), as well as the reservations of any other customers of ours.</p>
        <p>@Html.ActionLink("Check out reservations", "Index", "Reservations")</p>
    </div>
</div>